.accordion {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tab {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab-label {
  display: flex;
  justify-content: flex-start;
  padding: 0.25em 0;
  cursor: pointer;
  color: var(--vscode-list-deemphasizedForeground);;
}

.tab-label::before {
  content: '\276F';
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
  margin-right: 3px;
}

.tab-content {
  max-height: 0;
  padding: 0.25em 0;
  transition: all 350ms;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  margin: 0;
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 0.25em 0;
}

input:checked + .tab-label::before {
  transform: rotate(90deg);
  margin-top: 2px;
}

.accordion {
  display: flex;
}
