h1 {
  color: #28a745;
  margin: 20px 0;
}

.input-wrapper {
  display: flex;
  margin-top: 10px;
}

h3 {
  margin: 20px 0 10px 0;
}

.fa-trash-alt {
  color: #b33a3a;
  height: 16px;
  width: 30px;
}

.fa-search {
  width: 12px;
}

.search-button {
  background-color: var(--vscode-input-background);
}
