img {
  border-radius: 50%;
}

.pr-author {
  cursor: pointer;
}

.title-wrapper {
  display: grid;
  grid-template-columns: 80% 15%;
  grid-gap: 5%;
  align-items: center;
  width: 100%;
}

.title-wrapper.draft-pr {
  opacity: 0.4;
}

.title-wrapper:hover {
  opacity: 1;
}

.title-wrapper > div {
  overflow-wrap: break-word;
}

.pr-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pr-count {
  font-weight: 300;
}

.pr-title {
  font-weight: normal;
}
