.content-table {
  border-collapse: collapse;
  overflow: hidden;
  margin-top: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.content-table:not(:first-child) {
  margin: 10px 0;
}

.content-table thead tr {
  background-color: var(--vscode-button-secondaryBackground);
  color: var(--vscode-descriptionForeground);
  text-align: left;
  font-weight: normal;
  text-transform: capitalize;
}

.content-table thead tr th:not(:last-child) {
  border-right: 2px solid #000000;
  padding: 0 5px;
}

.content-table thead th {
  font-weight: normal;
  text-transform: lowercase;
}

.content-table th,
.content-table td:first-child {
  padding: 3px;
}

.content-table td {
  font-size: 0.9rem;
}

.content-table.single-column thead tr th {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5%;
}

.content-table.single-column thead tr span.pr-title {
  width: 75%;
  font-size: 0.85rem;
  text-align: center;
  color: var(--vscode-inputValidation-infoBorder);
}

.content-table.single-column thead tr th > svg:first-child {
  margin-right: 5px;
}

.content-table.single-column thead tr th > svg:last-child {
  margin-left: 5px;
}

.content-table.multi-column thead tr th:last-child {
  display: flex;
  justify-content: center;
  padding: 3px 0;
}

.content-table td {
  cursor: pointer;
}

.content-table th:first-child,
.content-table tbody tr td:first-child {
  width: 85%;
}

.content-table tbody tr td:first-child:hover {
  text-decoration: underline;
}

.content-table.single-column th:first-child,
.content-table.single-column tbody tr td:first-child {
  width: 100%;
}

.content-table.single-column tbody tr td .title-wrapper .pr-title {
  font-size: 0.85rem;
}

.content-table tbody tr td:last-child {
  padding: 7px 0;
  display: flex;
  justify-content: center;
}

.content-table.multi-column tbody.checkbox tr td:last-child {
  margin: 50% auto;
}

.content-table tbody tr {
  color: var(--vscode-icon-foreground);
}

.content-table tbody tr:not(:last-child) {
  border-bottom: 1px solid #dddddd;
}

.fa-caret-right {
  width: 6px;
  margin-right: 5px;
  cursor: pointer;
  transition: all 350ms;
}

.fa-caret-right.open {
  transform: rotate(90deg);
}

.fa-sync-alt {
  width: 11px;
  cursor: pointer;
}
